@namespace Framework.Web.Blazor.Components.Apex

@inherits XTLayoutComponentBase
<div class="sidebar-content">
    @ChildContent
</div>

@code {
    //protected async override Task OnAfterRenderAsync()
    //{
    //    bool isLoading = false;
    //    if (!isLoading)
    //    {
    //        base.OnAfterRender();
    //        Console.WriteLine($"Iniciando LOADINGSIDEBAR");
    //        await JsRuntime.InvokeAsync<object>("loadsidebar");
    //        Console.WriteLine(this.ShouldRender().ToString());
    //        isLoading = true;
    //    }

    //}
}
