<?xml version="1.0" encoding="utf-8" ?>

<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Warn"
      internalLogFile="nlog.log">
 
  <variable name="applicationName" value="Orion.Prometheus"/>

  <variable name="logPath" value="$/data/logs/${applicationName}/${level}/${shortdate}"/>
  <targets async="true">
 
    <target name="file" xsi:type="File" fileName="${logPath}/${level}.log" layout="${message}" />
  
    <target name="apiLog" xsi:type="File" fileName="${logPath}/api-trace.log" layout="${message}" />
   
    <target name="efLog" xsi:type="File" fileName="${logPath}/ef.log" layout="${message}" />
   
    <target name="queryLog" xsi:type="File" fileName="${logPath}/sql-query.log" layout="${message}" />
    
    <target name="uiLog" xsi:type="File" fileName="${logPath}/ui.log" layout="${message}" />
  </targets>
  
  <rules>
 
    <logger minlevel="Trace" name="ApiTraceLog" writeTo="apiLog"/>
   
    <logger minlevel="Trace" name="EfTraceLog" writeTo="efLog"/>
   
    <logger minlevel="Trace" name="SqlQueryLog" writeTo="queryLog"/>
  
    <logger minlevel="Trace" name="UiTraceLog" writeTo="uiLog"/>
  
    <logger minlevel="Trace" name="*" writeTo="file" >
      <!--<filters>
       
        <when condition="equals(logger,'ApiTraceLog')" action="Ignore" />
   
        <when condition="equals(logger,'EfTraceLog')" action="Ignore" />
       
        <when condition="equals(logger,'SqlQueryLog')" action="Ignore" />
        
        <when condition="equals(logger,'UiTraceLog')" action="Ignore" />
      </filters>-->
    </logger>
  </rules>
</nlog>